[package]
name = "mini-os"
version = "0.1.0"
authors = ["Qiu <ql123ql123@163.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]


[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"